page-home {
  // .list.no-bottom-border {
  //   ion-item:last-child {
      
  //   }
  // }
  ion-content {
    &.cards-bg {
      background-color: #f4f4f7;
      .total-header {
        background-color: white;
        border-bottom:1px solid lightgray;
      }
    }
  }
}
