<ion-header>
  <ion-navbar>
    <ion-title>
      Cost Split Calculator
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="calculate()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

  <ion-list padding-bottom>
    <ion-item>
      <ion-label fixed>Total w/tax</ion-label>
      <ion-input type="number" [(ngModel)]="totalWithTax"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Tax rate</ion-label>
      <ion-input type="number" [(ngModel)]="taxRate"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>

    <ion-card *ngFor="let card of expenseCards">

      <ion-card-header>

        <ion-item>
          <ion-input type="text" [(ngModel)]="card.name"></ion-input>
          <button color="danger" clear item-right icon-left ion-button (click)="removeCard(card)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item>


      </ion-card-header>

      <ion-card-content>

        <ion-list padding *ngFor="let expense of card.expenses">
          <ion-item>
            <button clear item-right icon-left ion-button (click)="removeExpense(expense, card.expenses)">
              <ion-icon name="trash"></ion-icon>
            </button>
            <ion-input type="number" placeholder="Amount" [(ngModel)]="expense.value"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Wassit fer?" [(ngModel)]="expense.note"></ion-input>
          </ion-item>          
        </ion-list>

      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button full icon-left clear small (click)="addExpense(card)">
            <ion-icon name="add"></ion-icon>
            <div>Add Expense</div>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="addNewCard()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
