<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Reciept
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="shareClick()">
        Share
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item padding-top *ngFor="let recieptItem of reciept.recieptItems">
      <h3>{{ recieptItem.name }}</h3>
      <p>
        <strong>Total Owed:</strong>
        <span> ${{ recieptItem.totalOwedWithTax | number : '2.2-2' }} </span>
      </p>
      <div class="expense" *ngIf="recieptItem.expenses.length > 0">
        <p *ngFor="let expense of recieptItem.expenses">
          <strong>{{ expense.note || 'extra expense' }}:</strong>
          <span> ${{ expense.value | number : '2.2-2' }}</span>
        </p>
      </div>
      <p>
        <strong>Total Percentage:</strong>
        <span> {{ recieptItem.totalPercentageBill | number : '2.2-2' }}%</span>
      </p>
      <p *ngIf="recieptItem.extraRounded">
        * amount adjusted due to rounding
      </p>
    </ion-item>
  </ion-list>
  <h3>Total: ${{ reciept.total }}</h3>

  <hr>

  <!-- <ion-grid class="share-buttons">
    <ion-row>
      <ion-col col-12>
        <button ion-button full (click)="shareClick()">
          <ion-icon name="share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row> -->
  <!-- <ion-col col-3>
        <button ion-button full icon-left color="secondary" (click)="shareAmazonClick()">
          <span>Amazon</span>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button full icon-left color="secondary" (click)="shareVenmoClick()">
          <span>Venmo</span>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button full icon-left color="secondary" (click)="sharePaypalClick()">
          <span>Paypal</span>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button full icon-left color="secondary" (click)="shareGoogleClick()">
          <span>Google</span>
        </button>
      </ion-row>
    </ion-grid>
  </ion-col> -->


</ion-content>
